.paginator {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}

/*span {*/
/*    margin-right: 3px;*/
/*}*/