.profile {
    display: grid;
    grid-template-columns: 3fr 10fr;
    padding-top: 20px;
}

.profile .avatar img {
    width: 200px;
    height: 150px;
}

.discription .info {
    line-height: 2px;
}

.img img {
    width: 100%;
    height: 200px;
}